<div class="contextual">
<%= link_to l(:label_warehouse_new), {:controller => "warehouses", :action => 'new'}, :class => 'icon icon-add' %>
</div>

<h3><%=l(:label_warehouses)%></h3>
 
<table class="list">
  <thead><tr>
  <th><%=l(:field_warehouse_code)%></th>
  <th><%=l(:field_warehouse_name)%></th>
  <th><%=l(:field_warehouse_type)%></th>
  <th><%=l(:field_responsible_by)%></th>
  <th></th>
  </tr></thead>
  <tbody>
    <% @warehouses = Warehouse.all %>
    <% if @warehouses.empty? %>
      <p class="nodata"><%= l(:label_no_data) %></p>
    <% else %>
      <% @warehouses.each do |warehouse| %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td class="code"><span><%= link_to warehouse.code, edit_warehouse_path(warehouse) %></span></td>
          <td class="name"><span><%= link_to warehouse.name, edit_warehouse_path(warehouse) %></span></td>
          <td class="type"><span><%= warehouse.type_name %></span></td>
          <td class="responsible_by"><span><%= warehouse.responsible_by ? warehouse.responsible_by.name : '-' %></span></td>
          <td class="buttons">
          <%= delete_link warehouse_path(warehouse) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>