<%= error_messages_for 'warehouse' %>
<div class="box tabular attributes">
  <div class="splitcontentleft">
    <p><%= f.text_field :code, :label => :field_warehouse_code, :required => true %></p>
    <p><%= f.text_field :name, :label => :field_warehouse_name, :required => true %></p>
    <p class="object-select"><%= f.select :type, collection_for_type_select, :include_blank => true, :label => l(:field_type) %></p>
    <p><%= f.text_field :location, :label => :field_location %></p>
  </div>
  <div class="splitcontentright">
    <p class="object-select"><%= f.select :responsible_by_id, principals_options_for_select(User.all, @warehouse.responsible_by), :include_blank => true, :label => :field_responsible_by %></p>
    <p><%= f.text_field :found_date, :label => :field_found_date, :size => 12 %><%= calendar_for('warehouse_found_date') %></p>    
    <p class="object-select"><%= f.select :status, collection_for_status_select, :include_blank => true, :label => l(:field_status) %></p>
  </div>
  <hr />
  <div style="both;"> 
    <p><%= f.text_area :description, :cols => 60, :rows => 5, :class => 'wiki-edit' %><%= wikitoolbar_for 'warehouse_description' %></p>
  </div>
</div>