<h2><%= link_to l(:label_warehouses), :action =>"plugin", :id => "redmine_materials", :controller => "settings", :tab => 'warehouses' %> &#187; <%=l(:label_warehouse_new)%></h2>

<%= labelled_form_for :warehouses, @warehouse, :url => {:action => 'create'}, :html => { :multipart => true, :id => 'warehouse_form'} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_tag l(:button_create) %>
<% end %>
