<% return if @issue.material_cycle.blank? %>
<% @material_cycle = @issue.material_cycle %>
<% @project = @material_cycle.project %>
<% return unless @project.module_enabled?(:redmine_materials) %> 
<% @material = @material_cycle.material %>
<h2>
  <%= link_to("#{l(:label_material_belong)} #{l(:label_material)} ##{@material.id}", project_material_path(@project, @material)) %>
</h2>

<div class="issue details">
  <div class="subject">
  <h3>
    <%= "#{l(:label_material_cycle)} ##{@material_cycle.id}" %>
  </h3>
  </div>
  <p class="author">
    <%= authoring @material_cycle.created_at, @material_cycle.author %>.
    <% if @material_cycle.created_at != @material_cycle.updated_at %>
      <%= l(:label_updated_time, time_tag(@material_cycle.updated_at)).html_safe %>.
    <% end %>
  </p>
  
  <<%= Redmine::VERSION.to_s > '3.2' ? 'div' : 'table' %> class="attributes">
    <%= issue_fields_rows do |rows|
      rows.left l(:field_stage), @material_cycle.stage_name
      rows.right l(:field_event_type), @material_cycle.type_name
      rows.left l(:field_order_no), @material_cycle.order_no
      rows.right l(:field_location), @material_cycle.location
      rows.left l(:field_outsider), @material_cycle.outsider
      rows.right l(:field_value), @material_cycle.value
      rows.left l(:field_location), @material_cycle.location
      rows.right l(:field_purpose), @material_cycle.purpose_name
      rows.left l(:field_warehouse), @material_cycle.warehouse.nil? ? "-" : @material_cycle.warehouse.name
    end %>
  </<%= Redmine::VERSION.to_s > '3.2' ? 'div' : 'table' %>>
  